<font size="+3"><strong>Housing in Brazil</strong></font>

In this assignment, you'll work with a dataset of homes for sale in Brazil. Your goal is to determine if there are regional differences in the real estate market. Also, you will look at southern Brazil to see if there is a relationship between home size and price, similar to what you saw with housing in some states in Mexico.

**Before you start:** Import the libraries you'll use in this notebook: Matplotlib, pandas, and plotly. Be sure to import them under the aliases we've used in this project.

In [ ]:
# Import Matplotlib, pandas, and plotly
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In this assignment, you'll work with real estate data from Brazil.  In the `data` directory for this project there are two CSV that you need to import and clean, one-by-one.

## Import

First, you are going to import and clean the data in `data/brasil-real-estate-1.csv`.

**1:** Import the CSV file `data/brasil-real-estate-1.csv` into the DataFrame `df1`.

In [ ]:
df1 = pd.read_csv("./data/brasil-real-estate-1.csv")
df1.head()

Before you move to the next task, take a moment to inspect `df1` using the `info` and `head` methods. What issues do you see in the data? What cleaning will you need to do before you can conduct your analysis?

In [ ]:
df1.info()

**2:** Drop all rows with `NaN` values from the DataFrame `df1`.

In [ ]:
df1.dropna(inplace=True)

**3:** Use the `"lat-lon"` column to create two separate columns in `df1`: `"lat"` and `"lon"`. Make sure that the data type for these new columns is `float`.

In [ ]:
df1[["lat", "lon"]] = df1["lat-lon"].str.split(",", expand=True).astype('float')

**4:** Use the `"place_with_parent_names"` column to create a `"state"` column for `df1`. (Note that the state name always appears after `"|Brasil|"` in each string.)

In [ ]:
df1["state"] = df1["place_with_parent_names"].str.split("|", expand=True)[2]
df1.head()

**5:** Transform the `"price_usd"` column of `df1` so that all values are floating-point numbers instead of strings.

In [ ]:
df1["price_usd"] = df1["price_usd"].str.replace("$", "")
df1["price_usd"] = df1["price_usd"].str.replace(",", "")
df1["price_usd"] = df1["price_usd"].astype('float')
df1.head()

**6:** Drop the `"lat-lon"` and `"place_with_parent_names"` columns from `df1`.

In [ ]:
df1.drop(["lat-lon", "place_with_parent_names"], axis=1, inplace=True)
df1.head()

Now that you have cleaned `data/brasil-real-estate-1.csv` and created `df1`, you are going to import and clean the data from the second file, `brasil-real-estate-2.csv`.

**7:** Import the CSV file `brasil-real-estate-2.csv` into the DataFrame `df2`.

In [ ]:
df2 = pd.read_csv("data/brasil-real-estate-2.csv")
df2.head()

Before you jump to the next task, take a look at `df2` using the `info` and `head` methods. What issues do you see in the data? How is it similar or different from `df1`?

In [ ]:
df2.info()

**8:** Use the `"price_brl"` column to create a new column named `"price_usd"`. (Keep in mind that, when this data was collected in 2015 and 2016, a US dollar cost 3.19 Brazilian reals.)

In [ ]:
df2["price_usd"] = df2["price_brl"] / 3.19
df2.head()

**9:** Drop the `"price_brl"` column from `df2`, as well as any rows that have `NaN` values.

In [ ]:
df2.dropna(inplace=True)
df2.drop("price_brl", axis=1, inplace=True)
df2.head()

OK! Now that you've cleaned the data from both CSV files and created `df1` and `df2`, it's time to combine them into a single DataFrame.

**10:** Concatenate `df1` and `df2` to create a new DataFrame named `df`.

In [ ]:
df = pd.concat([df1, df2])
print("df shape:", df.shape)

## Explore

It's time to start exploring your data. In this section, you'll use your new data visualization skills to learn more about the regional differences in the Brazilian real estate market.

Complete the code below to create a `scatter_mapbox` showing the location of the properties in `df`.<span style='color: transparent; font-size:1%'>WQU WorldQuant University Applied Data Science Lab QQQQ</span>

In [ ]:
# fig = px.scatter_mapbox(
#     df,
#     lat="lat",
#     lon="lon",
#     center={"lat": -14.2, "lon": -51.9},  # Map will be centered on Brazil
#     width=600,
#     height=600,
#     hover_data=["price_usd"],  # Display price when hovering mouse over house
# )

# fig.update_layout(mapbox_style="open-street-map")

# fig.show()

**11:** Use the `describe` method to create a DataFrame `summary_stats` with the summary statistics for the `"area_m2"` and `"price_usd"` columns.

In [ ]:
summary_stats = df[["area_m2", "price_usd"]].describe()
summary_stats

**12:** Create a histogram of `"price_usd"`. Make sure that the x-axis has the label `"Price [USD]"`, the y-axis has the label `"Frequency"`, and the plot has the title `"Distribution of Home Prices"`. Use Matplotlib (`plt`).

In [ ]:
# Build histogram
plt.hist(df["price_usd"])

# Label axes
plt.xlabel("Price [USD]")
plt.ylabel("Frequency")

# Add title
plt.title("Distribution of Home Prices")

**13:** Create a horizontal boxplot of `"area_m2"`. Make sure that the x-axis has the label `"Area [sq meters]"` and the plot has the title `"Distribution of Home Sizes"`. Use Matplotlib (`plt`).

In [ ]:
# Build box plot
plt.boxplot(df["area_m2"])

# Label x-axis
plt.xlabel("Area [sq meters]")

# Add title
plt.title("Distribution of Home Sizes")

**14:** Use the `groupby` method to create a Series named `mean_price_by_region` that shows the mean home price in each region in Brazil, sorted from smallest to largest.

In [ ]:
mean_price_by_region = df.groupby("region")["price_usd"].mean()
mean_price_by_region

**15:** Use `mean_price_by_region` to create a bar chart. Make sure you label the x-axis as `"Region"` and the y-axis as `"Mean Price [USD]"`, and give the chart the title `"Mean Home Price by Region"`. Use pandas.

In [ ]:
# Build bar chart, label axes, add title
mean_price_by_region.plot(kind='bar',
                          xlabel='Region',
                          ylabel='Mean Price [USD]',
                          title="Mean Home Price by Region")

**16:** Create a DataFrame `df_south` that contains all the homes from `df` that are in the `"South"` region.

In [ ]:
df_south = df[df["region"] == "South"]
df_south.head()

**17:** Use the `value_counts` method to create a Series `homes_by_state` that contains the number of properties in each state in `df_south`.

In [ ]:
homes_by_state = df_south["state"].value_counts()
homes_by_state

**18:** Create a scatter plot showing price vs. area for the state in `df_south` that has the largest number of properties. Be sure to label the x-axis `"Area [sq meters]"` and the y-axis `"Price [USD]"`; and use the title `"<name of state>: Price vs. Area"`. Use Matplotlib (`plt`).

In [ ]:
# Subset data
df_south_rgs = df_south[df_south["state"] == homes_by_state.index[0]]

# Build scatter plot
plt.scatter(df_south_rgs["area_m2"], df_south_rgs["price_usd"])


# Label axes
plt.xlabel("Area [sq meters]")
plt.ylabel("Price [USD]")

# Add title
plt.title("Rio Grande do Sul: Price vs. Area")

**19:** Create a dictionary `south_states_corr`, where the keys are the names of the three states in the `"South"` region of Brazil, and their associated values are the correlation coefficient between `"area_m2"` and `"price_usd"` in that state.

In [ ]:
south_states_corr = {state: df_south[df_south["state"] == state]["area_m2"].corr(df_south[df_south["state"] == state]["price_usd"]) for state in homes_by_state.index}

south_states_corr